@keyframes spin {
  from {
    transform: rotate(0deg); 
  }

  to {
    transform: rotate(360deg);
  }
}
body{
  background: #444;
}
#yinyang{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%);/*线性渐变，css3 linear gradient generator*/
  position: relative;
  margin: 100px auto 30px;
  animation-duration: 3s;
  animation-name: spin;
  animation-iteration-count: infinite;/*次数*/
  animation-timing-function: linear;/*动画节奏*/
  box-shadow: 0px 0px 30px 0px grey;
}
#yinyang::before{
  content: '';
  width: 20px;
  height: 20px;
  border: 40px solid #000;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  
}
#yinyang::after{
  content: '';
  width: 20px;
  height: 20px;
  border: 40px solid #fff;
  border-radius:50%;
  background: #000;
  position: absolute;
  top: 50px;
  right: 0;
}
p{
  color: white;
  text-align: center;
}
